{% extends "base.html" %}
{% load urlfy %}
{% block head_title %}
    {{ instance.title }}| {{ block.super }}
{% endblock head_title %}

<style>
   {% block style %}
   h1{
    color: #777777;
   }
   {% endblock style %}
</style>

{% block contant %}

<div class="col-sm-6 col-sm-offset-3">
    {% if instance.image %}
    <img src="{{ instance.image.url }}" class="img-resp"/>
    {% endif %}
<h1>{{ title }}  <small>{% if instance.draft %}<span style="color:red"> Draft  </span> {% endif %}{{ instance.publish }}</small></h1>

{% if instance.user.get_full_name %}
    <p>Author: {{ instance.user.get_full_name }}</p>
    {% endif %}



    <p><div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div></p>
    <hr/>

<!--


    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
Facebook
</a>
    <a href="https://twitter.com/home?status={{ instance.content|urlfy }}%20{{ request.build_absolute_uri }}">
Twitter
</a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title=Be%20first%20%7C%20Join%20Swift%20for%20Entrepreneurs&summary=Swift%20for%20Entrepreneurs%20is%20a%20project-based%20programming%20course%20for%20non-technical%20founders.%20We'll%20learn%20how%20to%20build%20iOS%20apps%20from%20scratch%20using%20Apple's%20new%20programming%20language:%20Swift.%20Be%20first%20and%20learn%20with%20me!&source={{ request.build_absolute_uri }}">
Linkedin
</a>
    <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title=Unlock%20to%20Learn%20Swift%20for%20Free!%20By%20Swift%20for%20Entrepreneurs.%20Made%20for%20Non%20Techincals.">Reddit</a>

    <a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>Google+</a>
-->

<div class="row">
<div class="col-sm-12">

    <div class="post-detail-item">{{ instance.get_markdown }}</div>
<hr/>
    <div>
        <p class="lead">Comments</p>
        <hr/>
        {% for comments in comments %}


        <blockquote>
          <p>{{ comments.content }}</p>
          <footer>via {{ comments.user }} on {{ comments.timestamp }} app</footer>
        </blockquote>
        <hr/>
        {% endfor %}
    </div>
</div>
    </div>
</div>

{% endblock contant %}


